<h1>Listing earthquakes</h1>

<%= bar_chart @earthquake_data, height: "1000px" %>
<%= column_chart @earthquake_data, height: "1000px" %>
<%= pie_chart @earthquake_data, height: "1000px" %>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Depth</th>
      <th>Mag</th>
      <th>Magtype</th>
      <th>Nst</th>
      <th>Gap</th>
      <th>Dmin</th>
      <th>Rms</th>
      <th>Net</th>
      <th>Usgs ident</th>
      <th>Updated</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @earthquakes.each do |earthquake| %>
      <tr>
        <td><%= earthquake.time %></td>
        <td><%= earthquake.latitude %></td>
        <td><%= earthquake.longitude %></td>
        <td><%= earthquake.depth %></td>
        <td><%= earthquake.mag %></td>
        <td><%= earthquake.magtype %></td>
        <td><%= earthquake.nst %></td>
        <td><%= earthquake.gap %></td>
        <td><%= earthquake.dmin %></td>
        <td><%= earthquake.rms %></td>
        <td><%= earthquake.net %></td>
        <td><%= earthquake.usgs_ident %></td>
        <td><%= earthquake.updated %></td>
        <td><%= earthquake.place %></td>
        <td><%= link_to 'Show', earthquake %></td>
        <td><%= link_to 'Edit', edit_earthquake_path(earthquake) %></td>
        <td><%= link_to 'Destroy', earthquake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Earthquake', new_earthquake_path %>

<br>

<%= link_to 'Upload CSV', upload_earthquakes_path %>
